<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home" padding>
  <ion-card>
    <ion-card-content>
      Click below and take a picture of visiting card1.
      <button ion-button full (click)="takePicture()">
        <ion-icon name="md-camera"></ion-icon> Take a Picture
      </button>
      <button ion-button full (click)="checkImage()">Read Image</button>
      <button ion-button full (click)="sendEmail()">Send Email</button>
      <p *ngIf="image">Picture</p>
      <img [src]="image" *ngIf="image" />
      <!-- <img src="../../assets/imgs/image2.jpg"> -->
    </ion-card-content>
  </ion-card>
</ion-content>
